# cp to /etc/systemd/system/
[Unit]
Description=test
After=syslog.target

[Service]
User=yshop
Group=yshop
ExecStart=/bin/bash -c "/home/yshop/spring-executable-0.0.1-SNAPSHOT.jar"
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
